body{
    background-color:rgba(220, 196, 243, 0.61)
    }
    
     h1{
    color:rgb(134, 74, 84) ;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    background:rgba(251, 252, 241, 0.685) ;
    background:rgb(190, 136, 240) ;
    text-align: center;
    }

    :
    p{
    color:rgba(146, 27, 214, 0.596) ;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: ;
    background:rgb(77, 17, 216) ;
    text-align: center;
    }
1
