body{
    background-color:rgba(220, 196, 243, 0.61)
    }
    
     h1{
    color:rgb(134, 74, 84) ;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    background:rgba(251, 252, 241, 0.685) ;
    background:rgb(253, 249, 249) ;
    text-align: center;
    }

    :
    p{
    color:rgba(164, 165, 207, 0.596) ;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: ;
    background:rgb(226, 213, 214) ;
    }
1
